.result-box {
	border: 1px solid #f0f0f0;
	/* 	background: #eee; */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 2px 0 #C2C2C2;
	box-shadow: 0 2px 2px 0 #C2C2C2;
	margin-bottom: 10px;
}


.highlighted {
	background: yellow
}

.result-box {
	padding-left: 10px;
	padding-top: 5px;
}

.project-type-image {
	height: 40px;
}

.customer-logo {
	max-height: 50px;
	max-width: 75px;
}

.projectType-logo{
	max-height: 20px;
	max-width: 55px;
	
}

.outer {
	position: relative;
}

.inner1 {
	top: 100;
	position: absolute;
	z-index: 10;
}

.showMoreLink {
	cursor: pointer;
}

span.padding {
	padding-left: 5%;
}

.scrollcontainer {
	border: 2px solid #ccc;
	width: 250px;
	height: 200px;
	overflow-y: scroll;
}

.reuse-title {
	padding-left: 350px;
}

.code-inner-box {
	/* 	height: 200px; */
	/* 	overflow: auto; */
	width: 700px;;
}

.code-outer-box {
	
}

.facet-panel {
	width: 100%;
	max-height: 150px;
	overflow: auto;
	font-size: 12px;
}

.popover-content {
	background: white;
	color:black;
}

input[type=checkbox]{
	padding-bottom:3px;
}
